/* Container */

.container {
    text-align: center;
    margin: auto;
    width: 80%;
}

.container h1 {
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.container_text h4 {
    font-weight: normal;
}

input {
    margin-bottom: 20px;
}

select {
    width: 175px;
    margin-bottom: 25px;
}

option {
    width: 175px;
}


/* No mundo */

.table_card {
    text-align: center;
    width: 100%;
}

.titulos_tabela {
    font-weight: bold;
}

.tabela_conf {
    width: 125px;
}

.confirm_title {
    font-size: 20px;
}

#total_confirmados {
    color: grey;
    font-weight: bold;
}

#novos_confirmados {
    color: red;
    font-weight: bold;
}

.recup_title {
    font-size: 20px;
}

#total_recuperados {
    color: grey;
    font-weight: bold;
}

#novos_recuperados {
    color: green;
    font-weight: bold;
}

.mortos_title {
    font-size: 20px;
}

#novos_mortos {
    color: black;
    font-weight: bold;
}

#total_mortos {
    color: grey;
    font-weight: bold;
}


/* lista paises*/

.lista_paises {
    margin-top: 100px;
}

#nome_search_pais {
    width: 200px;
}

.table_lista_paises {
    text-align: center;
    width: 100%;
    margin-right: 20px;
}

.table_row1 {
    height: 40px;
    max-height: 45px;
}

.tabela_pais {
    width: 30%;
}

#nome_pais {
    width: 200px;
}

.tabela_conf {
    width: 30%;
}

#lista_total_confirmados {
    color: grey;
    font-weight: bold;
    width: 35%;
}

#lista_novos_confirmados {
    color: red;
    font-weight: bold;
    width: 35%;
}

.tabela_recup {
    width: 30%;
}

#lista_total_recuperados {
    color: grey;
    font-weight: bold;
}

#lista_novos_recuperados {
    color: green;
    font-weight: bold;
}

#lista_novos_mortos {
    color: black;
    font-weight: bold;
}

#lista_total_mortos {
    color: grey;
    font-weight: bold;
}


/* Versão desktop */

@media only screen and (min-width:720px) {
    .table_lista_paises {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}